<p-table #dt [value]="listaUsuarios" [rows]="5" [paginator]="true"
    [globalFilterFields]="['nombre','email','usuario','perfil', 'estado']" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last}" [showCurrentPageReport]="true"
    styleClass="p-datatable-responsive-demo">
    <ng-template pTemplate="caption">
        <div class="cabecera-tabla">
            <h5 class="titulo">Manage Products</h5>

            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="nombre">
                Nombre
                <p-sortIcon field="nombre"></p-sortIcon>
                <p-columnFilter type="text" field="nombre" display="menu"></p-columnFilter>
            </th>
            <th pSortableColumn="email">
                Correo
                <p-sortIcon field="email"></p-sortIcon>
                <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
            </th>
            <th pSortableColumn="usuario">
                Usuario 
                <p-sortIcon field="usuario"></p-sortIcon>
                <p-columnFilter type="text" field="usuario" display="menu"></p-columnFilter>
            </th>
            <th pSortableColumn="perfil">
                Perfil 
                <p-sortIcon field="perfil"></p-sortIcon>
                <p-columnFilter type="text" field="perfil" display="menu"></p-columnFilter>
            </th>
            <th pSortableColumn="estado">
                Estado 
                <p-sortIcon field="estado"></p-sortIcon>
                <p-columnFilter type="boolean" field="estado" display="menu"></p-columnFilter>
            </th>
            <th>Acciones </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr>
            <td #row (blur)="row.scrollLeft = 0"><span class="p-column-title">Nombre</span>{{usuario.nombre}}</td>
            <td><span class="p-column-title">Correo</span>{{usuario.email}}</td>
            <td><span class="p-column-title">Usuario</span>{{usuario.usuario}}</td>
            <td><span class="p-column-title">Perfil</span>{{usuario.perfil}}</td>
            <td><span class="p-column-title">Estado</span>
                <p-inputSwitch (onChange)="cambiarEstado($event, usuario)" [(ngModel)]="usuario.estado"></p-inputSwitch>
            </td>
            <td class="acciones">
                <span class="p-column-title">Acciones</span>
                <button class="btn btn-warning" (click)="modificarUsuario(usuario)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger" (click)="eliminarUsuario(usuario)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </ng-template>
</p-table>
